* {
	margin: 0;
	border: 0;
	padding: 0;

	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

input,
button {
	outline: none;
	background-color: transparent;
}

button {
	cursor: pointer;
}
