.title {
	font-weight: 700;

	&.big {
		font-size: 1.625rem;
	}

	&.medium {
		font-size: 1.375rem;
	}

	&.small {
		font-size: 1.125rem;
	}
}

.placeholder {
	font-size: 1rem;
	font-weight: 400;
}

.paragraph {
	font-size: 0.875rem;

	&.semi-bold {
		font-weight: 600;
	}

	&.regular {
		font-weight: 400;
	}
}

.caption {
	font-weight: 400;
	font-size: 0.75rem;
}
